---
permalink: "/"
layout: main
pagination:
    enabled: true
---

{% if page.author %}
{% assign author = site.data.authors[page.author] %}
{% else %}
{% assign author = site.owner %}
{% endif %}

<section class="section has-background-primary-light">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img class="is-rounded" src="{{ site.url }}/img/bervianto.jpg" />
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h2 class="title">{{ site.owner.name }}</h2>
                            <h3 class="subtitle">{{ site.owner.job }}</h3>
                            <h4>{{ site.owner.bio }}</h4>
                            <a href='https://ko-fi.com/I2I2YXS8' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://cdn.ko-fi.com/cdn/kofi1.png?v=2' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
                        </div>
                    </div>
                </article>
            </div>
            <footer class="card-footer">
                {% include component/social-links.html %}
            </footer>
        </div>
    </div>
</section>

<section id="blog-post" class="section">
    <div class="container">
        <h2 class="title">Blog Post</h2>
        <div class="columns is-multiline">
            {% for post in paginator.posts %}
            <div class="column is-one-third">
                <div class="card bm--card-equal-height">
                    <!--
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <a href="{{ post.url }}">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </a>
                        </figure>
                    </div>
                    -->
                    <div class="card-content">
                        <h2><a class="title" href="{{ post.url }}">{{ post.title }}</a></h2>
                        <h3><a class="subtitle" href="{{ post.url }}">
                                <time datetime="{{ post.date | date: "%c" }}">{{ post.date | date: "%c" }}</time>
                            </a></h3>
                        <nav class="breadcrumb" aria-label="breadcrumbs">
                            <ul>
                                {% for cat in post.categories %}
                                <li><a href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a></li>
                                {% endfor %}
                            </ul>
                        </nav>

                        <div class="content is-small">
                            {% if post.excerpt %}
                            <p>
                                {{ post.excerpt }}
                            </p>
                            {% endif %}
                        </div>
                        <div class="tags">
                            {% for tag in post.tags %}
                            <span class="tag is-primary is-light is-small">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>
                                <a class="button is-primary" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ post.url }}">
                                    <span class="icon">
                                        <font-awesome-icon :icon="['fab','twitter']" /></span>
                                    <span>Twitter</span>
                                </a>
                            </span>
                        </p>
                        <p class="card-footer-item">
                            <span>
                                <a class="button is-link" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}">
                                    <span class="icon">
                                        <font-awesome-icon :icon="['fab','facebook']" /></span>
                                    <span>Facebook</span>
                                </a>
                            </span>
                        </p>
                    </footer>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if paginator.total_pages > 1 %}
        <nav class="level">
            {% if paginator.previous_page %}
            <div class="level-left">
                <div class="level-item">
                    <a class="button"
                        href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                        <span class="icon">
                            <font-awesome-icon :icon="['fa','arrow-left']" /></span>
                        <span>Newer Posts</span>
                    </a>
                </div>
            </div>
            {% endif %}
            {% if paginator.next_page %}
            <div class="level-right">
                <div class="level-item">
                    <a class="button"
                        href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
                        <span>Older Posts</span>
                        <span class="icon">
                            <font-awesome-icon :icon="['fa','arrow-right']" /></span>
                    </a>
                </div>
            </div>
            {% endif %}
        </nav>
        {% endif %}
    </div>

</section>
