---
permalink: "/"
title: Home
layout: main
---

{% if page.author %}
{% assign author = site.data.authors[page.author] %}
{% else %}
{% assign author = site.owner %}
{% endif %}

<section class="section has-background-primary-light">
    <div class="card">
        <div class="card-content">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-128x128">
                        <img class="is-rounded" src="{{ site.url }}/img/bervianto.jpg" />
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <h2 class="title">{{ site.owner.name }}</h2>
                        <h3 class="subtitle">{{ site.owner.job }}</h3>
                        <h4>{{ site.owner.bio }}</h4>
                        {% include component/social-links.html %}
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>