---
title: Resume
layout: main
---

<section class="section" id="resume">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-9">
                <div class="content">
                    {% include sections/about.html %}
                </div>
                <div class="content">
                    <h2 class="title">Certification</h2>
                    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="61a336e9-92a7-4c8c-aeee-a5c07bf3fae5"
                        data-share-badge-host="https://www.youracclaim.com"></div>
                    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="1ed42ba5-d7fe-4191-a5cb-90f86edcd33a"
                            data-share-badge-host="https://www.youracclaim.com"></div>
                    <script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
                </div>
                <div class="content">
                    {% include sections/projects.html %}
                </div>
            </div>
            <div class="column is-3">
                <div class="content">
                    {% include sections/career.html %}
                </div>
                <div class="content">
                    {% include sections/education.html %}
                </div>
            </div>
        </div>
    </div>

</section>