---
title: Resume
layout: main
---

<section class="section" id="resume">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-8">
                <div class="content">
                    {% include sections/about.html %}
                </div>

                <div class="content">
                    {% include sections/projects.html %}
                </div> 
            </div>

            <div class="column is-4">
                <div class="content">
                    {% include sections/skills.html %}
                </div>
                <div class="content">
                    {% include sections/career.html %}
                </div>
                <div class="content">
                    {% include sections/education.html %}
                </div>
            </div>
        </div>
    </div>

</section>