{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="{{ site.url }}/favicon.png" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                {% for page in site.pages %}
                {% if page.title and page.autogen == nil %}
                <a href="{{page.url}}" class="navbar-item">
                    {{ page.title }}
                </a>
                {% endif %}
                {% endfor %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="https://github.com/berviantoleo/berviantoleo.github.io" class="button">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                            <span>Github</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</nav>

<section class="section">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <article class="media">
                    <figure class="media-left">
                        <p class="image is-128x128">
                            <img class="is-rounded" src="{{ site.url }}/img/bervianto.jpg" />
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <h2 class="title">
                                {{ site.owner.name }}
                            </h2>
                            <h3 class="subtitle">
                                {{ site.owner.job }}
                            </h3>
                            <h4>
                                {{ site.owner.bio }}
                            </h4>
                        </div>
                    </div>
                </article>
                {% include component/social-links.html %}
            </div>
        </div>
    </div>
</section>