{% if paginator.total_pages > 1 %}
<section id="paginate2" class="section">
    <div class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            {% if paginator.previous_page %}
            <a class="pagination-previous" href="{{ paginator.previous_page_path | relative_url }}">
                &laquo; Prev
            </a>
            {% else %}
            <a class="pagination-previous" disabled>
                &laquo; Prev
            </a>
            {% endif %}

            <ul class="pagination-list">
                {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                <li><a class="pagination-link is-current">{{ page }}</a></li>
                {% elsif page == 1 %}
                <li>
                    <a class="pagination-link" href="{{ paginator.previous_page_path | relative_url }}">
                        {{ page }}
                    </a>
                </li>
                {% else %}
                <li>
                    <a class="pagination-link" href="{{ site.paginate_path | relative_url | replace: ':num', post }}">
                        {{ page }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>

            {% if paginator.next_page %}
            <a class="pagination-next" href="{{ paginator.next_page_path | relative_url }}">
                Next &raquo;
            </a>
            {% else %}
            <a class="pagination-next" disabled>
                Next &raquo;
            </a>
            {% endif %}
        </nav>
    </div>
</section>
{% endif %}

<!--
<section id="paginate" class="section">
    <div class="container">
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a></li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">&hellip;</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>
</section>
-->