{% if author.email %}
<p class="card-footer-item">
  <span>
    <a class="icon" target="_blank" href="mailto:{{author.email}}?subject=Hello from Berv Personal Web">
      <font-awesome-icon :icon="['fa','envelope']" /></a>
  </span>
</p>
{% endif %} {% if author.twitter %}
<p class="card-footer-item">
  <span>
    <a href="https://twitter.com/{{ author.twitter }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','twitter']" /></a>
  </span>
</p>
{% endif %} {% if author.facebook %}
<p class="card-footer-item">
  <span>
    <a href="https://facebook.com/{{ author.facebook }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','facebook']" /></a>
  </span>
</p>
{% endif %} {% if author.linkedin %}
<p class="card-footer-item">
  <span>
    <a href="https://linkedin.com/in/{{ author.linkedin }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','linkedin']" /></a>
  </span>
</p>
{% endif %} {% if author.instagram %}
<p class="card-footer-item">
  <span>
    <a href="https://instagram.com/{{ author.instagram }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','instagram']" /></a>
  </span>
</p>
{% endif %} {% if author.tumblr %}
<p class="card-footer-item">
  <span>
    <a href="http://{{ author.tumblr }}.tumblr.com" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','tumblr']" /></a>
  </span>
</p>
{% endif %} {% if author.github %}
<p class="card-footer-item">
  <span>
    <a href="https://github.com/{{ author.github }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','github']" /></a>
  </span>
</p>
{% endif %} {% if author.stackoverflow %}
<p class="card-footer-item">
  <span>
    <a href="https://stackoverflow.com/users/{{ author.stackoverflow }}" class="icon" target="_blank">
      <font-awesome-icon :icon="['fab','stack-overflow']" /></a>
  </span>
</p>
{% endif %} {% if author.lastfm %}
<p class="card-footer-item">
  <span>
    <a href="https://www.last.fm/user/{{ author.lastfm }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','lastfm']" /></a>
  </span>
</p>
{% endif %} {% if author.dribbble %}
<p class="card-footer-item">
  <span>
    <a href="http://dribbble.com/{{ author.dribbble }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','dribbble']" /></a>
  </span>
</p>
{% endif %} {% if author.pinterest %}
<p class="card-footer-item">
  <span>
    <a href="https://www.pinterest.com/{{ author.pinterest }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','pinterest']" /></a>
  </span>
</p>
{% endif %} {% if author.foursquare %}
<p class="card-footer-item">
  <span>
    <a href="http://foursquare.com/{{ author.foursquare }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','foursquare']" /></a>
  </span>
</p>
{% endif %} {% if author.steam %}
<p class="card-footer-item">
  <span>
    <a href="https://steamcommunity.com/id/{{ author.steam }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','steam']" /></a>
  </span>
</p>
{% endif %} {% if author.youtube %}
<p class="card-footer-item">
  <span>
    <a href="https://youtube.com/c/{{ author.youtube }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','youtube']" /></a>
  </span>
</p>
{% endif %} {% if author.soundcloud %}
<p class="card-footer-item">
  <span>
    <a href="https://soundcloud.com/{{ author.soundcloud }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','soundcloud']" /></a>
  </span>
</p>
{% endif %} {% if author.weibo %}
<p class="card-footer-item">
  <span>
    <a href="http://www.weibo.com/{{ author.weibo }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','weibo']" /></a>
  </span>
</p>
{% endif %} {% if author.flickr %}
<p class="card-footer-item">
  <span>
    <a href="http://www.flickr.com/{{ author.flickr }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','flickr']" /></a>
  </span>
</p>
{% endif %} {% if author.codepen %}
<p class="card-footer-item">
  <span>
    <a href="https://codepen.io/{{ author.codepen }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','codepen']" /></a>
  </span>
</p>
{% endif %} {% if author.telegram %}
<p class="card-footer-item">
  <span>
    <a href="https://t.me/{{ author.telegram }}" target="_blank" class="icon">
      <font-awesome-icon :icon="['fab','telegram']" /></a>
  </span>
</p>
{% endif %}