<footer class="footer">
  <section class="section">
    <div class="content has-text-centered">
      <p>
        © <strong>My Personal Web</strong> by
        <a href="{{ site.url }}">Bervianto Leo Pratama</a>.
      </p>
      <p>Source code is
        licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The
        website content is licensed
        <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
      <p>Version 1.2</p>
    </div>
  </section>
</footer>