<b-navbar fixed-top type="is-primary" centered wrapper-class="container">
  <template slot="brand">
    <b-navbar-item tag="a" href="/">
      <img src="{{ site.url }}/favicon.png" />
    </b-navbar-item>
  </template>
  <template slot="start">
    {% for sitePage in site.pages %} {% if sitePage.title and sitePage.autogen == nil %}
    <b-navbar-item href="{{sitePage.url}}" {% if sitePage.url == page.url %} active {% endif %}> {{ sitePage.title }} </b-navbar-item>
    {% endif %} {% endfor %}
  </template>

  <template slot="end">
    <b-navbar-item tag="div">
      <div class="buttons">
        <a
          href="https://github.com/berviantoleo/berviantoleo.github.io"
          class="button"
        >
          <span class="icon">
            <font-awesome-icon :icon="['fab','github']" />
          </span>
          <span>Github</span>
        </a>
      </div>
    </b-navbar-item>
  </template>
</b-navbar>