<script defer type="text/javascript" src="{{ site.url }}/dist/js/main.bundle.js"></script>
<script defer type="text/javascript" src="{{ site.url }}/dist/js/vendor.bundle.js"></script>

{% if site.owner.google.analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.owner.google.analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.owner.google.analytics }}');
</script>
{% endif %}

{% if page.skillChart %}
<script>
  var ctx = document.getElementById("{{ site.data.index.skills.id }}");
  var data = {
  labels: "{{ site.data.index.skills.aspects }}".split(","),
  datasets: [{
      label: "{{ site.data.index.skills.label }}",
      backgroundColor: "rgba(179,181,198,0.2)",
      borderColor: "#3385FF",
      pointBackgroundColor: "#3385FF",
      pointBorderColor: "#fff",
      pointHoverBackgroundColor: "#3385FF",
      pointHoverBorderColor: "#3385FF",
      data: [{{ site.data.index.skills.percentage }}]
      }]
  };
  var myRadarChart = new window.Chart(ctx, {
  type: 'radar',
  data: data,
  options: {
      scale: {
          responsive: true,
          ticks: {min: 0, max: 100},
          lineArc: false,
          pointLabels: {fontSize: 14},
      },
      scaleFontSize: 0,
      legend: {display: false},
  }
  });
</script>
{% endif %}
