@charset "utf-8";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
$primary: #32bbc5;
$footer-background-color: $primary;
$footer-color: true;
$footer-padding: 1rem;
@import "~bulma/bulma";
@import "~bulma-extensions/bulma-timeline/src/sass/index.sass";

.bm--card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.bm--card-equal-height .card-footer {
   margin-top: auto;
}