@charset "utf-8";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
$primary: #24a9e7;
$footer-background-color: $primary;
$footer-color: true;
$footer-padding: 1.5rem;
@import "~bulma/bulma";
@import "~bulma-extensions/bulma-timeline/src/sass/index.sass";

// Image by <a href="https://pixabay.com/users/12019-12019/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1751455">David Mark</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1751455">Pixabay</a>

// Image by <a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=677774">Free-Photos</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=677774">Pixabay</a>

.header-image {
    background-image: url("/img/sparkler-677774_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
