---
title: Tags
permalink: "/tags/"
layout: main
---

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-9">
        <div class="box">
          {% for tag in site.tags %} {% capture tag_name %}{{ tag | first }}{%
          endcapture %}
          <div class="content">
            <h2 class="title" id="{{ tag_name | slugize }}">{{ tag_name }}</h2>
            <div class="tags">
              {% for post in site.tags[tag_name] %}
              <span class="tag">
                <a class="tag-item-title" href="{{ site.url }}{{ post.url }}">{{post.title}}</a>
              </span>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="column is-3">
        <div class="box">
          <h2 class="title">
            Tag cloud <i class="fa fa-cloud info-text-color"></i>
          </h2>
          <div class="tags">
            {% for tag in site.tags %}
            <span class="tag">
              <a class="post-tag" href="#{{ tag | first | slugize }}">
                {{ tag | first }}
              </a>
            </span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>